<a href="https://colab.research.google.com/github/mccoy0928/20230205_python_byVictorGau/blob/main/20230304_McCoy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2023-03-04 上課筆記

## [爬蟲簡介](https://github.com/victorgau/khpy_web_crawler_intro)

## [爬蟲特訓](https://github.com/victorgau/python_crawler)

In [4]:
import requests

In [31]:
url = "https://victorgau.github.io/khpy_web_intro/html_only.html"

In [32]:
r = requests.get(url)

In [33]:
r.request.headers

{'User-Agent': 'python-requests/2.25.1', 'Accept-Encoding': 'gzip, deflate', 'Accept': '*/*', 'Connection': 'keep-alive'}

In [34]:
r.headers

{'Connection': 'keep-alive', 'Content-Length': '143', 'Server': 'GitHub.com', 'Content-Type': 'text/html; charset=utf-8', 'permissions-policy': 'interest-cohort=()', 'Last-Modified': 'Sat, 09 Oct 2021 21:20:24 GMT', 'Access-Control-Allow-Origin': '*', 'ETag': '"61620798-8f"', 'expires': 'Sat, 04 Mar 2023 02:02:29 GMT', 'Cache-Control': 'max-age=600', 'x-proxy-cache': 'MISS', 'X-GitHub-Request-Id': '0C82:182F:18D353:20D6CA:6402A45D', 'Accept-Ranges': 'bytes', 'Date': 'Sat, 04 Mar 2023 02:23:27 GMT', 'Via': '1.1 varnish', 'Age': '0', 'X-Served-By': 'cache-fty21328-FTY', 'X-Cache': 'HIT', 'X-Cache-Hits': '1', 'X-Timer': 'S1677896607.086525,VS0,VE20', 'Vary': 'Accept-Encoding', 'X-Fastly-Request-ID': '0470ff39d542ef9133ccfd268cc9145be7436193'}

In [13]:
print(r.text)

<!DOCTYPE html>
<html>
<head>
    <title>HTML範例</title>
</head>
<body>

<h1>哈囉！HTML！</h1>

<img src="ninja.jpg" />

</body>
</html>

# 抓取Ajax網頁資料

In [14]:
import pandas as pd

### 從非ajax網站抓取可以直接看到資料

In [15]:
url = "https://victorgau.github.io/khpy_web_intro/spy.html"

In [16]:
r = requests.get(url)

In [ ]:
print(r.text)

In [22]:
df = pd.read_html(url)

In [23]:
df[0]

,Unnamed: 0_level_0,Open,High,Low,Close,Adj Close,Volume
,Date,Unnamed: 1_level_1,Unnamed: 2_level_1,Unnamed: 3_level_1,Unnamed: 4_level_1,Unnamed: 5_level_1,Unnamed: 6_level_1
0,2021-07-26,439.309998,441.029999,439.260010,441.019989,441.019989,43719200
1,2021-07-27,439.910004,439.940002,435.989990,439.010010,439.010010,67397100
2,2021-07-28,439.679993,440.299988,437.309998,438.829987,438.829987,52472400
3,2021-07-29,439.820007,441.799988,439.809998,440.649994,440.649994,47435300
4,2021-07-30,437.910004,440.059998,437.769989,438.510010,438.510010,68890600
5,2021-08-02,440.339996,440.929993,437.209991,437.589996,437.589996,58783300
6,2021-08-03,438.440002,441.279999,436.100006,441.149994,441.149994,58053900
7,2021-08-04,439.779999,441.119995,438.730011,438.980011,438.980011,46732200
8,2021-08-05,440.220001,441.850006,439.880005,441.760010,441.760010,38969700
9,2021-08-06,442.100006,442.940002,441.799988,442.489990,442.489990,46864100

### 從ajax網站抓取看不到資料

In [24]:
url1 = "https://victorgau.github.io/khpy_web_intro/spy_ajax.html"  # ajax網頁

In [44]:
url2 = "https://victorgau.github.io/khpy_web_intro/spy.json"  # https://victorgau.github.io/khpy_web_intro/spy.json?_=1677897372538 << ?問號後數字代碼可減去

In [39]:
r1 = requests.get(url2)

In [ ]:
print(r1.text)

In [25]:
df1 = pd.read_html(url1)

In [47]:
data2 = requests.get(url2).json()

In [48]:
data2

[{'Date': '2021-07-26',
  'Open': 439.309998,
  'High': 441.029999,
  'Low': 439.26001,
  'Close': 441.019989,
  'Adj Close': 441.019989,
  'Volume': 43719200},
 {'Date': '2021-07-27',
  'Open': 439.910004,
  'High': 439.940002,
  'Low': 435.98999,
  'Close': 439.01001,
  'Adj Close': 439.01001,
  'Volume': 67397100},
 {'Date': '2021-07-28',
  'Open': 439.679993,
  'High': 440.299988,
  'Low': 437.309998,
  'Close': 438.829987,
  'Adj Close': 438.829987,
  'Volume': 52472400},
 {'Date': '2021-07-29',
  'Open': 439.820007,
  'High': 441.799988,
  'Low': 439.809998,
  'Close': 440.649994,
  'Adj Close': 440.649994,
  'Volume': 47435300},
 {'Date': '2021-07-30',
  'Open': 437.910004,
  'High': 440.059998,
  'Low': 437.769989,
  'Close': 438.51001,
  'Adj Close': 438.51001,
  'Volume': 68890600},
 {'Date': '2021-08-02',
  'Open': 440.339996,
  'High': 440.929993,
  'Low': 437.209991,
  'Close': 437.589996,
  'Adj Close': 437.589996,
  'Volume': 58783300},
 {'Date': '2021-08-03',
  'Open': 438.440002,
  'High': 441.279999,
  'Low': 436.100006,
  'Close': 441.149994,
  'Adj Close': 441.149994,
  'Volume': 58053900},
 {'Date': '2021-08-04',
  'Open': 439.779999,
  'High': 441.119995,
  'Low': 438.730011,
  'Close': 438.980011,
  'Adj Close': 438.980011,
  'Volume': 46732200},
 {'Date': '2021-08-05',
  'Open': 440.220001,
  'High': 441.850006,
  'Low': 439.880005,
  'Close': 441.76001,
  'Adj Close': 441.76001,
  'Volume': 38969700},
 {'Date': '2021-08-06',
  'Open': 442.100006,
  'High': 442.940002,
  'Low': 441.799988,
  'Close': 442.48999,
  'Adj Close': 442.48999,
  'Volume': 46864100}]

In [45]:
df2 = pd.read_json(url2)

In [46]:
df2

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-07-26,439.309998,441.029999,439.260010,441.019989,441.019989,43719200
1,2021-07-27,439.910004,439.940002,435.989990,439.010010,439.010010,67397100
2,2021-07-28,439.679993,440.299988,437.309998,438.829987,438.829987,52472400
3,2021-07-29,439.820007,441.799988,439.809998,440.649994,440.649994,47435300
4,2021-07-30,437.910004,440.059998,437.769989,438.510010,438.510010,68890600
5,2021-08-02,440.339996,440.929993,437.209991,437.589996,437.589996,58783300
6,2021-08-03,438.440002,441.279999,436.100006,441.149994,441.149994,58053900
7,2021-08-04,439.779999,441.119995,438.730011,438.980011,438.980011,46732200
8,2021-08-05,440.220001,441.850006,439.880005,441.760010,441.760010,38969700
9,2021-08-06,442.100006,442.940002,441.799988,442.489990,442.489990,46864100

In [29]:
len(df1)

1

In [28]:
df1

[Empty DataFrame
 Columns: [(Unnamed: 0_level_0, Date), (Open, Unnamed: 1_level_1), (High, Unnamed: 2_level_1), (Low, Unnamed: 3_level_1), (Close, Unnamed: 4_level_1), (Adj Close, Unnamed: 5_level_1), (Volume, Unnamed: 6_level_1)]
 Index: []]

## 關於Pandas的read_html()

In [35]:
url = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"

In [36]:
dfs = pd.read_html(url)

In [37]:
dfs[0]

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
499,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
500,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
501,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

# 剖析網頁原始碼

In [49]:
s = """
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>範例索引</title>
</head>
<body>
    <div class="container">
        <div class="row my-5">
            <div class="col">
                <h1 class="bg-warning p-3 rounded">Web及爬蟲簡介課程範例</h1>

                <ul class="list-group">
                    <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_only.html">HTML 範例</a></li>
                    <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css.html">HTML + CSS 範例</a></li>
                    <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css_javascript.html">HTML + CSS + Javascript 範例</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example01.html">example01.html (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example02.html">example02.html (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example03.html">example03.html (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example04.html">example04.html (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example05.html">example05.html (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy.html">Classic HTML 範例 (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy_ajax.html">Ajax 範例 (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_get.html">HTTP GET 方法說明</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_post.html">HTTP POST 方法說明</a></li>
                </ul>         
            </div>
    
        </div>
    </div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
"""

In [50]:
type(s)

str

In [51]:
from bs4 import BeautifulSoup

In [52]:
soup = BeautifulSoup(s)

In [53]:
soup.h1

In [54]:
soup.h1.text

'Web及爬蟲簡介課程範例'

In [55]:
soup.li

In [61]:
soup.select("li")

[<li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_only.html">HTML 範例</a></li>,
 <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css.html">HTML + CSS 範例</a></li>,
 <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css_javascript.html">HTML + CSS + Javascript 範例</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example01.html">example01.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example02.html">example02.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example03.html">example03.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example04.html">example04.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example05.html">example05.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy.html">Classic HTML 範例 (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy_ajax.html">Ajax 範例 (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_get.html">HTTP GET 方法說明</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_post.html">HTTP POST 方法說明</a></li>]

In [62]:
soup.select("li")[0]

In [63]:
soup.select("li")[0].text

' HTML 範例'

In [64]:
for i in soup.select("li"):
  print(i.text)

 HTML 範例
 HTML + CSS 範例
 HTML + CSS + Javascript 範例
 example01.html (爬蟲抓取用範例)
 example02.html (爬蟲抓取用範例)
 example03.html (爬蟲抓取用範例)
 example04.html (爬蟲抓取用範例)
 example05.html (爬蟲抓取用範例)
 Classic HTML 範例 (爬蟲抓取用範例)
 Ajax 範例 (爬蟲抓取用範例)
 HTTP GET 方法說明
 HTTP POST 方法說明

In [66]:
for i, j in enumerate(soup.select("li")):
  print(i, ": ", j.text)

0 :   HTML 範例
1 :   HTML + CSS 範例
2 :   HTML + CSS + Javascript 範例
3 :   example01.html (爬蟲抓取用範例)
4 :   example02.html (爬蟲抓取用範例)
5 :   example03.html (爬蟲抓取用範例)
6 :   example04.html (爬蟲抓取用範例)
7 :   example05.html (爬蟲抓取用範例)
8 :   Classic HTML 範例 (爬蟲抓取用範例)
9 :   Ajax 範例 (爬蟲抓取用範例)
10 :   HTTP GET 方法說明
11 :   HTTP POST 方法說明

In [67]:
for i, x in enumerate(soup.select("li")):
  print(f"{i:2}", ":", x.text)

 0 :  HTML 範例
 1 :  HTML + CSS 範例
 2 :  HTML + CSS + Javascript 範例
 3 :  example01.html (爬蟲抓取用範例)
 4 :  example02.html (爬蟲抓取用範例)
 5 :  example03.html (爬蟲抓取用範例)
 6 :  example04.html (爬蟲抓取用範例)
 7 :  example05.html (爬蟲抓取用範例)
 8 :  Classic HTML 範例 (爬蟲抓取用範例)
 9 :  Ajax 範例 (爬蟲抓取用範例)
10 :  HTTP GET 方法說明
11 :  HTTP POST 方法說明

In [68]:
for i, x in enumerate(soup.select("li")):
  print(f"{i:2}: {x.text}")

 0:  HTML 範例
 1:  HTML + CSS 範例
 2:  HTML + CSS + Javascript 範例
 3:  example01.html (爬蟲抓取用範例)
 4:  example02.html (爬蟲抓取用範例)
 5:  example03.html (爬蟲抓取用範例)
 6:  example04.html (爬蟲抓取用範例)
 7:  example05.html (爬蟲抓取用範例)
 8:  Classic HTML 範例 (爬蟲抓取用範例)
 9:  Ajax 範例 (爬蟲抓取用範例)
10:  HTTP GET 方法說明
11:  HTTP POST 方法說明

# 關於字串格式化

In [69]:
x =1 
y =1.23
z =True
w ="dog"

In [70]:
print(x, y, z, w)

1 1.23 True dog

In [71]:
print(x, y, z, w, sep="")

11.23Truedog

In [72]:
print(x, y, z, w, sep="+")

1+1.23+True+dog

## f-string(3.5+)

In [73]:
print(f"{x}, {y}, {z}, {w}")

1, 1.23, True, dog

In [74]:
print("{x}, {y}, {z}, {w}")

{x}, {y}, {z}, {w}

In [75]:
print(f"{x}, {y}, {z}, {w}")
print(f"{x:5}, {y}, {z}, {w}")
print(f"{x:05}, {y}, {z}, {w}")

1, 1.23, True, dog
    1, 1.23, True, dog
00001, 1.23, True, dog

In [76]:
print(f"{x}, {y}, {z}, {w}")
print(f"{x:5}, {y:7.2f}, {z}, {w}")
print(f"{x}, {y:07.2f}, {z}, {w}")

1, 1.23, True, dog
    1,    1.23, True, dog
1, 0001.23, True, dog

In [77]:
print(f"{x}, {y}, {z}, {w}")
print(f"{x:5}, {y}, {z}, {w:10}")
print(f"{x}, {y}, {z}, {w:>10}")

1, 1.23, True, dog
    1, 1.23, True, dog
1, 1.23, True,        dog

## string.format

In [78]:
print("{},{},{},{}".format(x,y,z,w))

1,1.23,True,dog

In [79]:
print("{0},{1},{2},{1}".format(x,y,z,w))

1,1.23,True,1.23

In [80]:
print("{a},{b},{c},{d}".format(a=x,b=y,c=z,d=w))

1,1.23,True,dog

## 練習

https://stackoverflow.com/questions/53908134/what-is-20-format-string-meaning-in-python

In [81]:
popularity = [["Language", 2017, 2012, 2007, 2002, 1997, 1992, 1987], 
          ["Java", 1, 2, 1, 1, 15, 0, 0],
          ["C", 2, 1, 2, 2, 1, 1, 1],
          ["C++", 3, 3, 3, 3, 2, 2, 5],
          ["C#", 4, 4, 7, 13, 0, 0, 0],
          ["Python", 5, 7, 6, 11, 27, 0, 0],
          ["Visual Basic .NET", 6, 17, 0, 0, 0, 0, 0],
          ["PHP", 7, 6, 4, 5, 0, 0, 0],
          ["JavaScript", 8, 9, 8, 7, 23, 0, 0],
          ["Perl", 9, 8, 5, 4, 4, 10, 0]]

format_string = "{:<20}  {:>4}  {:>4}  {:>4}  {:>4}  {:>4}  {:>4}  {:>4}"

In [84]:
for i in popularity:
  print(format_string.format(i[0],i[1],i[2],i[3],i[4],i[5],i[6],i[7]))

Language              2017  2012  2007  2002  1997  1992  1987
Java                     1     2     1     1    15     0     0
C                        2     1     2     2     1     1     1
C++                      3     3     3     3     2     2     5
C#                       4     4     7    13     0     0     0
Python                   5     7     6    11    27     0     0
Visual Basic .NET        6    17     0     0     0     0     0
PHP                      7     6     4     5     0     0     0
JavaScript               8     9     8     7    23     0     0
Perl                     9     8     5     4     4    10     0

In [83]:
for i in popularity:
  print(format_string.format(*i))  # *i <==> i[0],i[1],i[2],i[3],i[4],i[5],i[6],i[7]

Language              2017  2012  2007  2002  1997  1992  1987
Java                     1     2     1     1    15     0     0
C                        2     1     2     2     1     1     1
C++                      3     3     3     3     2     2     5
C#                       4     4     7    13     0     0     0
Python                   5     7     6    11    27     0     0
Visual Basic .NET        6    17     0     0     0     0     0
PHP                      7     6     4     5     0     0     0
JavaScript               8     9     8     7    23     0     0
Perl                     9     8     5     4     4    10     0

In [85]:
format_string = "{:<20}{:>6}{:>6}{:>6}{:>6}{:>6}{:>6}{:>6}"
for i in popularity:
  print(format_string.format(*i))

Language              2017  2012  2007  2002  1997  1992  1987
Java                     1     2     1     1    15     0     0
C                        2     1     2     2     1     1     1
C++                      3     3     3     3     2     2     5
C#                       4     4     7    13     0     0     0
Python                   5     7     6    11    27     0     0
Visual Basic .NET        6    17     0     0     0     0     0
PHP                      7     6     4     5     0     0     0
JavaScript               8     9     8     7    23     0     0
Perl                     9     8     5     4     4    10     0

# 使用css select來剖析資料

https://www.w3schools.com/cssref/css_selectors.php

In [86]:
url = "https://victorgau.github.io/khpy_web_intro/"

In [87]:
r = requests.get(url)

In [88]:
soup = BeautifulSoup(r.text)

In [89]:
soup.select("li")

[<li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_only.html">HTML 範例</a></li>,
 <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css.html">HTML + CSS 範例</a></li>,
 <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css_javascript.html">HTML + CSS + Javascript 範例</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example01.html">example01.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example02.html">example02.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example03.html">example03.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example04.html">example04.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example05.html">example05.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy.html">Classic HTML 範例 (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy_ajax.html">Ajax 範例 (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_get.html">HTTP GET 方法說明</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_post.html">HTTP POST 方法說明</a></li>]

## 抓取露天拍賣資料

In [91]:
url = "https://victorgau.github.io/khpy_web_intro/"

In [92]:
# https://www.whatsmyua.info/
headers = {'user-agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/110.0.0.0 Safari/537.36'}

In [93]:
r = requests.get(url, headers=headers)

In [94]:
url = "https://rapi.ruten.com.tw/api/items/v2/list?gno=21203073884581,21203073855084,22243606777400,22244608865692,22302937500980,22306987134735,22308073518043,22134699516389,22238403273488,21945822081428,22115680698839&level=detail"

In [95]:
data = requests.get(url, headers=headers).json()

In [96]:
data['data'][0].keys()

dict_keys(['id', 'class', 'name', 'num', 'images', 'currency', 'goods_price', 'goods_ori_price', 'goods_price_range', 'watch_num', 'sold_num', 'buyer_limit_num', 'stock_status', 'pre_order_ship_date', 'fast_ship', 'free_shipping', 'youtube_link', 'video_link', 'ncc_check_code', 'bsmi_code', 'goods_no', 'available', 'post_time', 'spec_type', 'deliver_way', 'mode', 'ship', 'platform', 'ctrl_rowid', 'user', 'user_credit', 'pay_way', 'title_style', 'selling_g_now_price', 'item_remaining_time', 'translation_type', 'translated_name', 'min_estimated_delivery_date', 'max_estimated_delivery_date', 'update_time', 'is_brand_seller', 'is_goods_from_oversea', 'location', 'condition', 'codition', 'accept_shiprule', 'user_class', 'close_no', 'description_url', 'spec_info', 'text2'])

In [97]:
for i in data['data']:
  print(f"{i['name']} ==> {i['goods_price_range']}")

凸頭 18650電池 可開發票 尖頭 鋰電池 充電電池 3000mAh 3.7v 高容量 手電筒 電風扇 Li-ion ==> {'min': 8, 'max': 24, 'ori_min': 8, 'ori_max': 24}
18650充電電池 高容量 4000mAh 電池 鋰電池 充電電池 3.7V Li-ion 尖頭 凸頭 充電器 USB ==> {'min': 39, 'max': 119, 'ori_min': 39, 'ori_max': 119}
三菱電機HC-BH023-S12   99新 ==> {'min': 39000, 'max': 40950, 'ori_min': 39000, 'ori_max': 40950}
【秀秀】三菱PLC模塊 QJ72LP25-25 全新 ==> {'min': 33000, 'max': 33000, 'ori_min': 33000, 'ori_max': 33000}
(辦公首選華碩I7商務桌機 獨家送微軟OFFICE)I7-11700時脈4.9G/16核心/16G/256G+1TB電腦 ==> {'min': 25900, 'max': 29900, 'ori_min': 25900, 'ori_max': 29900}
WD西部數據NAS硬盤12T服務器硬盤12t網絡硬盤紅盤Pro WD121KFBX ==> {'min': 50760, 'max': 50760, 'ori_min': 50760, 'ori_max': 50760}
全新零刻 SEi8 i5-8279U 酷睿i5辦公電腦微型主機 Intel 辦公電腦 迷你電腦 小電腦 微電腦 ==> {'min': 23692, 'max': 23692, 'ori_min': 23692, 'ori_max': 23692}
【樂意創客官方店】《附發票》AI機械手臂 樹莓派 4B Raspberry 視覺識別 ArmPi-FPV (豪華版本) ==> {'min': 22800, 'max': 22800, 'ori_min': 22800, 'ori_max': 22800}
KINGHOPE KH-82膽機組合音響發燒hifi藍牙書架音箱功放CD/DVD套裝 ==> {'min': 38280, 'max': 38280, 'ori_min': 38280, 'ori_max': 38280}
【24H出貨】(公司貨) iMICE X7 電競滑鼠 2400DPI 呼吸燈 電腦滑鼠 光學滑鼠 有線滑鼠 競技滑鼠 ==> {'min': 155, 'max': 155, 'ori_min': 155, 'ori_max': 155}
Renova Zero Pod 煙彈 空煙彈 空倉 空夾 空彈 ==> {'min': 199, 'max': 230, 'ori_min': 199, 'ori_max': 230}

In [98]:
url = "https://web.pcc.gov.tw/prkms/tender/common/bulletion/readBulletion?querySentence=%E9%9B%BB%E8%85%A6&tenderStatusType=%E6%8B%9B%E6%A8%99&sortCol=TENDER_NOTICE_DATE&timeRange=112&pageSize=10"

In [99]:
dfs = pd.read_html(url, encoding='utf-8')

In [100]:
dfs[4]

,項次,種類,機關名稱,標案案號標案名稱,招標公告日期,決標或無法決標公告,截止投標日期,公開閱覽/徵求日期,預告公告日期,功能選項
0,1,招標公告,臺北市政府工務局新建工程處,"11211 var hw = Geps3.CNS.pageCode2Img(""容積代金基金...",112/03/03,NaN,112/03/13,NaN,NaN,檢視
1,2,招標公告,交通部公路總局第五區養護工程處,"112010008 var hw = Geps3.CNS.pageCode2Img(""11...",112/03/03,NaN,112/03/21,NaN,NaN,檢視
2,3,招標公告,高雄市立民生醫院,"KMSH11023 var hw = Geps3.CNS.pageCode2Img(""電腦...",112/03/03,NaN,112/03/08,NaN,NaN,檢視
3,4,招標公告,國立臺灣大學醫學院附設醫院,"PA2200704 var hw = Geps3.CNS.pageCode2Img(""高劑...",112/03/03,NaN,112/03/10,NaN,NaN,檢視
4,5,招標公告,台灣電力股份有限公司,"0061100014 var hw = Geps3.CNS.pageCode2Img(""電...",112/03/03,NaN,112/03/20,NaN,NaN,檢視
5,6,招標公告,臺北市政府工務局,1120210S0036 var hw = Geps3.CNS.pageCode2Img(...,112/03/03,NaN,112/03/28,NaN,NaN,檢視
6,7,招標公告,交通部公路總局第二區養護工程處,"112-08007 var hw = Geps3.CNS.pageCode2Img(""第二...",112/03/03,NaN,112/03/21,NaN,NaN,檢視
7,8,招標公告,臺中市大里區立新國民小學,"1120302 var hw = Geps3.CNS.pageCode2Img(""112年...",112/03/03,NaN,112/03/07,NaN,NaN,檢視
8,9,招標公告,桃園市平鎮區公所,"1120109001 var hw = Geps3.CNS.pageCode2Img(""1...",112/03/03,NaN,112/03/09,NaN,NaN,檢視
9,10,招標公告,臺北大眾捷運股份有限公司,"C12B00276 var hw = Geps3.CNS.pageCode2Img(""錢幣...",112/03/03,NaN,112/03/16,NaN,NaN,檢視

In [101]:
dfs[4]['標案案號標案名稱'][0]

'11211  var hw = Geps3.CNS.pageCode2Img("容積代金基金採購私有公共設施保留地線上投標系統案");$("#1").html(hw);'

## 讀取csv 轉存excel格式
讀取政府資料開放平台實價登錄資料
e.g.:

https://data.kcg.gov.tw/dataset/d7bfc353-1617-42d8-a0e3-3cd2d99edb10/resource/20387f3d-6970-40a4-86f0-a5c33546e75d/download/111q2.csv

In [102]:
url = "https://data.kcg.gov.tw/dataset/d7bfc353-1617-42d8-a0e3-3cd2d99edb10/resource/20387f3d-6970-40a4-86f0-a5c33546e75d/download/111q2.csv"

In [ ]:
df = pd.read_csv(url)

### 將dataframe轉成不同格式

In [ ]:
df.to_excel("實價登錄.xlsx")