<a href="https://colab.research.google.com/github/mccoy0928/20230205_python_byVictorGau/blob/main/20230304_McCoy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2023-03-04 上課筆記

## [爬蟲簡介](https://github.com/victorgau/khpy_web_crawler_intro)

## [爬蟲特訓](https://github.com/victorgau/python_crawler)

In [ ]:
import requests

In [ ]:
url = "https://victorgau.github.io/khpy_web_intro/html_only.html"

In [ ]:
r = requests.get(url)

In [ ]:
r.request.headers

{'User-Agent': 'python-requests/2.25.1', 'Accept-Encoding': 'gzip, deflate', 'Accept': '*/*', 'Connection': 'keep-alive'}

In [ ]:
r.headers

{'Connection': 'keep-alive', 'Content-Length': '143', 'Server': 'GitHub.com', 'Content-Type': 'text/html; charset=utf-8', 'permissions-policy': 'interest-cohort=()', 'Last-Modified': 'Sat, 09 Oct 2021 21:20:24 GMT', 'Access-Control-Allow-Origin': '*', 'ETag': '"61620798-8f"', 'expires': 'Sat, 04 Mar 2023 07:10:33 GMT', 'Cache-Control': 'max-age=600', 'x-proxy-cache': 'MISS', 'X-GitHub-Request-Id': 'F134:2EAE:27B611:37A50B:6402EC91', 'Accept-Ranges': 'bytes', 'Date': 'Sat, 04 Mar 2023 07:14:39 GMT', 'Via': '1.1 varnish', 'Age': '0', 'X-Served-By': 'cache-chi-kigq8000039-CHI', 'X-Cache': 'HIT', 'X-Cache-Hits': '1', 'X-Timer': 'S1677914080.553715,VS0,VE24', 'Vary': 'Accept-Encoding', 'X-Fastly-Request-ID': 'a355c50df389c649d3a43808a95af16b49131bb0'}

In [ ]:
print(r.text)

<!DOCTYPE html>
<html>
<head>
    <title>HTML範例</title>
</head>
<body>

<h1>哈囉！HTML！</h1>

<img src="ninja.jpg" />

</body>
</html>

# 抓取Ajax網頁資料

In [ ]:
import pandas as pd

### 從非ajax網站抓取可以直接看到資料

In [ ]:
url = "https://victorgau.github.io/khpy_web_intro/spy.html"

In [ ]:
r = requests.get(url)

In [ ]:
print(r.text)

<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>HTML範例</title>
</head>
<body>
  <div class="container">
    <h1>SPY股價</h1>
  </div>
    <div class="container">
<table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Open</th>
      <th>High</th>
      <th>Low</th>
      <th>Close</th>
      <th>Adj Close</th>
      <th>Volume</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2021-07-26</th>
      <td>439.309998</td>
      <td>441.029999</td>
      <td>439.260010</td>
      <td>441.019989</td>
      <td>441.019989</td>
      <td>43719200</td>
    </tr>
    <tr>
      <th>2021-07-27</th>
      <td>439.910004</td>
      <td>439.940002</td>
      <td>435.989990</td>
      <td>439.010010</td>
      <td>439.010010</td>
      <td>67397100</td>
    </tr>
    <tr>
      <th>2021-07-28</th>
      <td>439.679993</td>
      <td>440.299988</td>
      <td>437.309998</td>
      <td>438.829987</td>
      <td>438.829987</td>
      <td>52472400</td>
    </tr>
    <tr>
      <th>2021-07-29</th>
      <td>439.820007</td>
      <td>441.799988</td>
      <td>439.809998</td>
      <td>440.649994</td>
      <td>440.649994</td>
      <td>47435300</td>
    </tr>
    <tr>
      <th>2021-07-30</th>
      <td>437.910004</td>
      <td>440.059998</td>
      <td>437.769989</td>
      <td>438.510010</td>
      <td>438.510010</td>
      <td>68890600</td>
    </tr>
    <tr>
      <th>2021-08-02</th>
      <td>440.339996</td>
      <td>440.929993</td>
      <td>437.209991</td>
      <td>437.589996</td>
      <td>437.589996</td>
      <td>58783300</td>
    </tr>
    <tr>
      <th>2021-08-03</th>
      <td>438.440002</td>
      <td>441.279999</td>
      <td>436.100006</td>
      <td>441.149994</td>
      <td>441.149994</td>
      <td>58053900</td>
    </tr>
    <tr>
      <th>2021-08-04</th>
      <td>439.779999</td>
      <td>441.119995</td>
      <td>438.730011</td>
      <td>438.980011</td>
      <td>438.980011</td>
      <td>46732200</td>
    </tr>
    <tr>
      <th>2021-08-05</th>
      <td>440.220001</td>
      <td>441.850006</td>
      <td>439.880005</td>
      <td>441.760010</td>
      <td>441.760010</td>
      <td>38969700</td>
    </tr>
    <tr>
      <th>2021-08-06</th>
      <td>442.100006</td>
      <td>442.940002</td>
      <td>441.799988</td>
      <td>442.489990</td>
      <td>442.489990</td>
      <td>46864100</td>
    </tr>
  </tbody>
</table>

</div>
</body>
</html>

In [ ]:
df = pd.read_html(url)

In [ ]:
df[0]

,Unnamed: 0_level_0,Open,High,Low,Close,Adj Close,Volume
,Date,Unnamed: 1_level_1,Unnamed: 2_level_1,Unnamed: 3_level_1,Unnamed: 4_level_1,Unnamed: 5_level_1,Unnamed: 6_level_1
0,2021-07-26,439.309998,441.029999,439.260010,441.019989,441.019989,43719200
1,2021-07-27,439.910004,439.940002,435.989990,439.010010,439.010010,67397100
2,2021-07-28,439.679993,440.299988,437.309998,438.829987,438.829987,52472400
3,2021-07-29,439.820007,441.799988,439.809998,440.649994,440.649994,47435300
4,2021-07-30,437.910004,440.059998,437.769989,438.510010,438.510010,68890600
5,2021-08-02,440.339996,440.929993,437.209991,437.589996,437.589996,58783300
6,2021-08-03,438.440002,441.279999,436.100006,441.149994,441.149994,58053900
7,2021-08-04,439.779999,441.119995,438.730011,438.980011,438.980011,46732200
8,2021-08-05,440.220001,441.850006,439.880005,441.760010,441.760010,38969700
9,2021-08-06,442.100006,442.940002,441.799988,442.489990,442.489990,46864100

### 從ajax網站抓取看不到資料

In [ ]:
url1 = "https://victorgau.github.io/khpy_web_intro/spy_ajax.html"  # ajax網頁

In [ ]:
url2 = "https://victorgau.github.io/khpy_web_intro/spy.json"  # https://victorgau.github.io/khpy_web_intro/spy.json?_=1677897372538 << ?問號後數字代碼可減去

In [ ]:
r1 = requests.get(url2)

In [ ]:
print(r1.text)

[{"Date":"2021-07-26","Open":439.309998,"High":441.029999,"Low":439.26001,"Close":441.019989,"Adj Close":441.019989,"Volume":43719200},{"Date":"2021-07-27","Open":439.910004,"High":439.940002,"Low":435.98999,"Close":439.01001,"Adj Close":439.01001,"Volume":67397100},{"Date":"2021-07-28","Open":439.679993,"High":440.299988,"Low":437.309998,"Close":438.829987,"Adj Close":438.829987,"Volume":52472400},{"Date":"2021-07-29","Open":439.820007,"High":441.799988,"Low":439.809998,"Close":440.649994,"Adj Close":440.649994,"Volume":47435300},{"Date":"2021-07-30","Open":437.910004,"High":440.059998,"Low":437.769989,"Close":438.51001,"Adj Close":438.51001,"Volume":68890600},{"Date":"2021-08-02","Open":440.339996,"High":440.929993,"Low":437.209991,"Close":437.589996,"Adj Close":437.589996,"Volume":58783300},{"Date":"2021-08-03","Open":438.440002,"High":441.279999,"Low":436.100006,"Close":441.149994,"Adj Close":441.149994,"Volume":58053900},{"Date":"2021-08-04","Open":439.779999,"High":441.119995,"Low":438.730011,"Close":438.980011,"Adj Close":438.980011,"Volume":46732200},{"Date":"2021-08-05","Open":440.220001,"High":441.850006,"Low":439.880005,"Close":441.76001,"Adj Close":441.76001,"Volume":38969700},{"Date":"2021-08-06","Open":442.100006,"High":442.940002,"Low":441.799988,"Close":442.48999,"Adj Close":442.48999,"Volume":46864100}]

In [ ]:
df1 = pd.read_html(url1)

In [ ]:
data2 = requests.get(url2).json()

In [ ]:
data2

[{'Date': '2021-07-26',
  'Open': 439.309998,
  'High': 441.029999,
  'Low': 439.26001,
  'Close': 441.019989,
  'Adj Close': 441.019989,
  'Volume': 43719200},
 {'Date': '2021-07-27',
  'Open': 439.910004,
  'High': 439.940002,
  'Low': 435.98999,
  'Close': 439.01001,
  'Adj Close': 439.01001,
  'Volume': 67397100},
 {'Date': '2021-07-28',
  'Open': 439.679993,
  'High': 440.299988,
  'Low': 437.309998,
  'Close': 438.829987,
  'Adj Close': 438.829987,
  'Volume': 52472400},
 {'Date': '2021-07-29',
  'Open': 439.820007,
  'High': 441.799988,
  'Low': 439.809998,
  'Close': 440.649994,
  'Adj Close': 440.649994,
  'Volume': 47435300},
 {'Date': '2021-07-30',
  'Open': 437.910004,
  'High': 440.059998,
  'Low': 437.769989,
  'Close': 438.51001,
  'Adj Close': 438.51001,
  'Volume': 68890600},
 {'Date': '2021-08-02',
  'Open': 440.339996,
  'High': 440.929993,
  'Low': 437.209991,
  'Close': 437.589996,
  'Adj Close': 437.589996,
  'Volume': 58783300},
 {'Date': '2021-08-03',
  'Open': 438.440002,
  'High': 441.279999,
  'Low': 436.100006,
  'Close': 441.149994,
  'Adj Close': 441.149994,
  'Volume': 58053900},
 {'Date': '2021-08-04',
  'Open': 439.779999,
  'High': 441.119995,
  'Low': 438.730011,
  'Close': 438.980011,
  'Adj Close': 438.980011,
  'Volume': 46732200},
 {'Date': '2021-08-05',
  'Open': 440.220001,
  'High': 441.850006,
  'Low': 439.880005,
  'Close': 441.76001,
  'Adj Close': 441.76001,
  'Volume': 38969700},
 {'Date': '2021-08-06',
  'Open': 442.100006,
  'High': 442.940002,
  'Low': 441.799988,
  'Close': 442.48999,
  'Adj Close': 442.48999,
  'Volume': 46864100}]

In [ ]:
df2 = pd.read_json(url2)

In [ ]:
df2

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-07-26,439.309998,441.029999,439.260010,441.019989,441.019989,43719200
1,2021-07-27,439.910004,439.940002,435.989990,439.010010,439.010010,67397100
2,2021-07-28,439.679993,440.299988,437.309998,438.829987,438.829987,52472400
3,2021-07-29,439.820007,441.799988,439.809998,440.649994,440.649994,47435300
4,2021-07-30,437.910004,440.059998,437.769989,438.510010,438.510010,68890600
5,2021-08-02,440.339996,440.929993,437.209991,437.589996,437.589996,58783300
6,2021-08-03,438.440002,441.279999,436.100006,441.149994,441.149994,58053900
7,2021-08-04,439.779999,441.119995,438.730011,438.980011,438.980011,46732200
8,2021-08-05,440.220001,441.850006,439.880005,441.760010,441.760010,38969700
9,2021-08-06,442.100006,442.940002,441.799988,442.489990,442.489990,46864100

In [ ]:
len(df1)

1

In [ ]:
df1

[Empty DataFrame
 Columns: [(Unnamed: 0_level_0, Date), (Open, Unnamed: 1_level_1), (High, Unnamed: 2_level_1), (Low, Unnamed: 3_level_1), (Close, Unnamed: 4_level_1), (Adj Close, Unnamed: 5_level_1), (Volume, Unnamed: 6_level_1)]
 Index: []]

## 關於Pandas的read_html()

In [ ]:
url = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"

In [ ]:
dfs = pd.read_html(url)

In [ ]:
dfs[0]

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
499,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
500,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
501,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

# 剖析網頁原始碼

In [ ]:
s = """
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>範例索引</title>
</head>
<body>
    <div class="container">
        <div class="row my-5">
            <div class="col">
                <h1 class="bg-warning p-3 rounded">Web及爬蟲簡介課程範例</h1>

                <ul class="list-group">
                    <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_only.html">HTML 範例</a></li>
                    <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css.html">HTML + CSS 範例</a></li>
                    <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css_javascript.html">HTML + CSS + Javascript 範例</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example01.html">example01.html (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example02.html">example02.html (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example03.html">example03.html (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example04.html">example04.html (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example05.html">example05.html (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy.html">Classic HTML 範例 (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy_ajax.html">Ajax 範例 (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_get.html">HTTP GET 方法說明</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_post.html">HTTP POST 方法說明</a></li>
                </ul>         
            </div>
    
        </div>
    </div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
"""

In [ ]:
type(s)

str

In [ ]:
from bs4 import BeautifulSoup

In [ ]:
soup = BeautifulSoup(s)

In [ ]:
soup.h1

In [ ]:
soup.h1.text

'Web及爬蟲簡介課程範例'

In [ ]:
soup.li

In [ ]:
soup.select("li")

[<li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_only.html">HTML 範例</a></li>,
 <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css.html">HTML + CSS 範例</a></li>,
 <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css_javascript.html">HTML + CSS + Javascript 範例</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example01.html">example01.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example02.html">example02.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example03.html">example03.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example04.html">example04.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example05.html">example05.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy.html">Classic HTML 範例 (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy_ajax.html">Ajax 範例 (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_get.html">HTTP GET 方法說明</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_post.html">HTTP POST 方法說明</a></li>]

In [ ]:
soup.select("li")[0]

In [ ]:
soup.select("li")[0].text

' HTML 範例'

In [ ]:
for i in soup.select("li"):
  print(i.text)

 HTML 範例
 HTML + CSS 範例
 HTML + CSS + Javascript 範例
 example01.html (爬蟲抓取用範例)
 example02.html (爬蟲抓取用範例)
 example03.html (爬蟲抓取用範例)
 example04.html (爬蟲抓取用範例)
 example05.html (爬蟲抓取用範例)
 Classic HTML 範例 (爬蟲抓取用範例)
 Ajax 範例 (爬蟲抓取用範例)
 HTTP GET 方法說明
 HTTP POST 方法說明

In [ ]:
for i, j in enumerate(soup.select("li")):
  print(i, ": ", j.text)

0 :   HTML 範例
1 :   HTML + CSS 範例
2 :   HTML + CSS + Javascript 範例
3 :   example01.html (爬蟲抓取用範例)
4 :   example02.html (爬蟲抓取用範例)
5 :   example03.html (爬蟲抓取用範例)
6 :   example04.html (爬蟲抓取用範例)
7 :   example05.html (爬蟲抓取用範例)
8 :   Classic HTML 範例 (爬蟲抓取用範例)
9 :   Ajax 範例 (爬蟲抓取用範例)
10 :   HTTP GET 方法說明
11 :   HTTP POST 方法說明

In [ ]:
for i, x in enumerate(soup.select("li")):
  print(f"{i:2}", ":", x.text)

 0 :  HTML 範例
 1 :  HTML + CSS 範例
 2 :  HTML + CSS + Javascript 範例
 3 :  example01.html (爬蟲抓取用範例)
 4 :  example02.html (爬蟲抓取用範例)
 5 :  example03.html (爬蟲抓取用範例)
 6 :  example04.html (爬蟲抓取用範例)
 7 :  example05.html (爬蟲抓取用範例)
 8 :  Classic HTML 範例 (爬蟲抓取用範例)
 9 :  Ajax 範例 (爬蟲抓取用範例)
10 :  HTTP GET 方法說明
11 :  HTTP POST 方法說明

In [ ]:
for i, x in enumerate(soup.select("li")):
  print(f"{i:2}: {x.text}")

 0:  HTML 範例
 1:  HTML + CSS 範例
 2:  HTML + CSS + Javascript 範例
 3:  example01.html (爬蟲抓取用範例)
 4:  example02.html (爬蟲抓取用範例)
 5:  example03.html (爬蟲抓取用範例)
 6:  example04.html (爬蟲抓取用範例)
 7:  example05.html (爬蟲抓取用範例)
 8:  Classic HTML 範例 (爬蟲抓取用範例)
 9:  Ajax 範例 (爬蟲抓取用範例)
10:  HTTP GET 方法說明
11:  HTTP POST 方法說明

# 關於字串格式化

In [ ]:
x =1 
y =1.23
z =True
w ="dog"

In [ ]:
print(x, y, z, w)

1 1.23 True dog

In [ ]:
print(x, y, z, w, sep="")

11.23Truedog

In [ ]:
print(x, y, z, w, sep="+")

1+1.23+True+dog

## f-string(3.5+)

In [ ]:
print(f"{x}, {y}, {z}, {w}")

1, 1.23, True, dog

In [ ]:
print("{x}, {y}, {z}, {w}")

{x}, {y}, {z}, {w}

In [ ]:
print(f"{x}, {y}, {z}, {w}")
print(f"{x:5}, {y}, {z}, {w}")
print(f"{x:05}, {y}, {z}, {w}")

1, 1.23, True, dog
    1, 1.23, True, dog
00001, 1.23, True, dog

In [ ]:
print(f"{x}, {y}, {z}, {w}")
print(f"{x:5}, {y:7.2f}, {z}, {w}")
print(f"{x}, {y:07.2f}, {z}, {w}")

1, 1.23, True, dog
    1,    1.23, True, dog
1, 0001.23, True, dog

In [ ]:
print(f"{x}, {y}, {z}, {w}")
print(f"{x:5}, {y}, {z}, {w:10}")
print(f"{x}, {y}, {z}, {w:>10}")

1, 1.23, True, dog
    1, 1.23, True, dog
1, 1.23, True,        dog

## string.format

In [ ]:
print("{},{},{},{}".format(x,y,z,w))

1,1.23,True,dog

In [ ]:
print("{0},{1},{2},{1}".format(x,y,z,w))

1,1.23,True,1.23

In [ ]:
print("{a},{b},{c},{d}".format(a=x,b=y,c=z,d=w))

1,1.23,True,dog

## 練習

https://stackoverflow.com/questions/53908134/what-is-20-format-string-meaning-in-python

In [ ]:
popularity = [["Language", 2017, 2012, 2007, 2002, 1997, 1992, 1987], 
          ["Java", 1, 2, 1, 1, 15, 0, 0],
          ["C", 2, 1, 2, 2, 1, 1, 1],
          ["C++", 3, 3, 3, 3, 2, 2, 5],
          ["C#", 4, 4, 7, 13, 0, 0, 0],
          ["Python", 5, 7, 6, 11, 27, 0, 0],
          ["Visual Basic .NET", 6, 17, 0, 0, 0, 0, 0],
          ["PHP", 7, 6, 4, 5, 0, 0, 0],
          ["JavaScript", 8, 9, 8, 7, 23, 0, 0],
          ["Perl", 9, 8, 5, 4, 4, 10, 0]]

format_string = "{:<20}  {:>4}  {:>4}  {:>4}  {:>4}  {:>4}  {:>4}  {:>4}"

In [ ]:
for i in popularity:
  print(format_string.format(i[0],i[1],i[2],i[3],i[4],i[5],i[6],i[7]))

Language              2017  2012  2007  2002  1997  1992  1987
Java                     1     2     1     1    15     0     0
C                        2     1     2     2     1     1     1
C++                      3     3     3     3     2     2     5
C#                       4     4     7    13     0     0     0
Python                   5     7     6    11    27     0     0
Visual Basic .NET        6    17     0     0     0     0     0
PHP                      7     6     4     5     0     0     0
JavaScript               8     9     8     7    23     0     0
Perl                     9     8     5     4     4    10     0

In [ ]:
for i in popularity:
  print(format_string.format(*i))  # *i <==> i[0],i[1],i[2],i[3],i[4],i[5],i[6],i[7]

Language              2017  2012  2007  2002  1997  1992  1987
Java                     1     2     1     1    15     0     0
C                        2     1     2     2     1     1     1
C++                      3     3     3     3     2     2     5
C#                       4     4     7    13     0     0     0
Python                   5     7     6    11    27     0     0
Visual Basic .NET        6    17     0     0     0     0     0
PHP                      7     6     4     5     0     0     0
JavaScript               8     9     8     7    23     0     0
Perl                     9     8     5     4     4    10     0

In [ ]:
format_string = "{:<20}{:>6}{:>6}{:>6}{:>6}{:>6}{:>6}{:>6}"
for i in popularity:
  print(format_string.format(*i))

Language              2017  2012  2007  2002  1997  1992  1987
Java                     1     2     1     1    15     0     0
C                        2     1     2     2     1     1     1
C++                      3     3     3     3     2     2     5
C#                       4     4     7    13     0     0     0
Python                   5     7     6    11    27     0     0
Visual Basic .NET        6    17     0     0     0     0     0
PHP                      7     6     4     5     0     0     0
JavaScript               8     9     8     7    23     0     0
Perl                     9     8     5     4     4    10     0

# 使用css select來剖析資料

https://www.w3schools.com/cssref/css_selectors.php

In [ ]:
url = "https://victorgau.github.io/khpy_web_intro/"

In [ ]:
r = requests.get(url)

In [ ]:
soup = BeautifulSoup(r.text)

In [ ]:
soup.select("li")

[<li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_only.html">HTML 範例</a></li>,
 <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css.html">HTML + CSS 範例</a></li>,
 <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css_javascript.html">HTML + CSS + Javascript 範例</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example01.html">example01.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example02.html">example02.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example03.html">example03.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example04.html">example04.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example05.html">example05.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy.html">Classic HTML 範例 (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy_ajax.html">Ajax 範例 (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_get.html">HTTP GET 方法說明</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_post.html">HTTP POST 方法說明</a></li>]

## 抓取露天拍賣資料

In [ ]:
url = "https://victorgau.github.io/khpy_web_intro/"

In [ ]:
# https://www.whatsmyua.info/
headers = {'user-agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/110.0.0.0 Safari/537.36'}

In [ ]:
r = requests.get(url, headers=headers)

In [ ]:
url = "https://rapi.ruten.com.tw/api/items/v2/list?gno=21203073884581,21203073855084,22243606777400,22244608865692,22302937500980,22306987134735,22308073518043,22134699516389,22238403273488,21945822081428,22115680698839&level=detail"

In [ ]:
data = requests.get(url, headers=headers).json()

In [ ]:
data['data'][0].keys()

dict_keys(['id', 'class', 'name', 'num', 'images', 'currency', 'goods_price', 'goods_ori_price', 'goods_price_range', 'watch_num', 'sold_num', 'buyer_limit_num', 'stock_status', 'pre_order_ship_date', 'fast_ship', 'free_shipping', 'youtube_link', 'video_link', 'ncc_check_code', 'bsmi_code', 'goods_no', 'available', 'post_time', 'spec_type', 'deliver_way', 'mode', 'ship', 'platform', 'ctrl_rowid', 'user', 'user_credit', 'pay_way', 'title_style', 'selling_g_now_price', 'item_remaining_time', 'translation_type', 'translated_name', 'min_estimated_delivery_date', 'max_estimated_delivery_date', 'update_time', 'is_brand_seller', 'is_goods_from_oversea', 'location', 'condition', 'codition', 'accept_shiprule', 'user_class', 'close_no', 'description_url', 'spec_info', 'text2'])

In [ ]:
for i in data['data']:
  print(f"{i['name']} ==> {i['goods_price_range']}")

凸頭 18650電池 可開發票 尖頭 鋰電池 充電電池 3000mAh 3.7v 高容量 手電筒 電風扇 Li-ion ==> {'min': 8, 'max': 24, 'ori_min': 8, 'ori_max': 24}
18650充電電池 高容量 4000mAh 電池 鋰電池 充電電池 3.7V Li-ion 尖頭 凸頭 充電器 USB ==> {'min': 39, 'max': 119, 'ori_min': 39, 'ori_max': 119}
三菱電機HC-BH023-S12   99新 ==> {'min': 39000, 'max': 40950, 'ori_min': 39000, 'ori_max': 40950}
【秀秀】三菱PLC模塊 QJ72LP25-25 全新 ==> {'min': 33000, 'max': 33000, 'ori_min': 33000, 'ori_max': 33000}
(辦公首選華碩I7商務桌機 獨家送微軟OFFICE)I7-11700時脈4.9G/16核心/16G/256G+1TB電腦 ==> {'min': 25900, 'max': 29900, 'ori_min': 25900, 'ori_max': 29900}
WD西部數據NAS硬盤12T服務器硬盤12t網絡硬盤紅盤Pro WD121KFBX ==> {'min': 50760, 'max': 50760, 'ori_min': 50760, 'ori_max': 50760}
全新零刻 SEi8 i5-8279U 酷睿i5辦公電腦微型主機 Intel 辦公電腦 迷你電腦 小電腦 微電腦 ==> {'min': 23692, 'max': 23692, 'ori_min': 23692, 'ori_max': 23692}
【樂意創客官方店】《附發票》AI機械手臂 樹莓派 4B Raspberry 視覺識別 ArmPi-FPV (豪華版本) ==> {'min': 22800, 'max': 22800, 'ori_min': 22800, 'ori_max': 22800}
KINGHOPE KH-82膽機組合音響發燒hifi藍牙書架音箱功放CD/DVD套裝 ==> {'min': 38280, 'max': 38280, 'ori_min': 38280, 'ori_max': 38280}
【24H出貨】(公司貨) iMICE X7 電競滑鼠 2400DPI 呼吸燈 電腦滑鼠 光學滑鼠 有線滑鼠 競技滑鼠 ==> {'min': 155, 'max': 155, 'ori_min': 155, 'ori_max': 155}
Renova Zero Pod 煙彈 空煙彈 空倉 空夾 空彈 ==> {'min': 199, 'max': 230, 'ori_min': 199, 'ori_max': 230}

In [ ]:
url = "https://web.pcc.gov.tw/prkms/tender/common/bulletion/readBulletion?querySentence=%E9%9B%BB%E8%85%A6&tenderStatusType=%E6%8B%9B%E6%A8%99&sortCol=TENDER_NOTICE_DATE&timeRange=112&pageSize=10"

In [ ]:
dfs = pd.read_html(url, encoding='utf-8')

In [ ]:
dfs[4]

,項次,種類,機關名稱,標案案號標案名稱,招標公告日期,決標或無法決標公告,截止投標日期,公開閱覽/徵求日期,預告公告日期,功能選項
0,1,招標公告,臺北市政府工務局新建工程處,"11211 var hw = Geps3.CNS.pageCode2Img(""容積代金基金...",112/03/03,NaN,112/03/13,NaN,NaN,檢視
1,2,招標公告,交通部公路總局第五區養護工程處,"112010008 var hw = Geps3.CNS.pageCode2Img(""11...",112/03/03,NaN,112/03/21,NaN,NaN,檢視
2,3,招標公告,高雄市立民生醫院,"KMSH11023 var hw = Geps3.CNS.pageCode2Img(""電腦...",112/03/03,NaN,112/03/08,NaN,NaN,檢視
3,4,招標公告,國立臺灣大學醫學院附設醫院,"PA2200704 var hw = Geps3.CNS.pageCode2Img(""高劑...",112/03/03,NaN,112/03/10,NaN,NaN,檢視
4,5,招標公告,台灣電力股份有限公司,"0061100014 var hw = Geps3.CNS.pageCode2Img(""電...",112/03/03,NaN,112/03/20,NaN,NaN,檢視
5,6,招標公告,臺北市政府工務局,1120210S0036 var hw = Geps3.CNS.pageCode2Img(...,112/03/03,NaN,112/03/28,NaN,NaN,檢視
6,7,招標公告,交通部公路總局第二區養護工程處,"112-08007 var hw = Geps3.CNS.pageCode2Img(""第二...",112/03/03,NaN,112/03/21,NaN,NaN,檢視
7,8,招標公告,臺中市大里區立新國民小學,"1120302 var hw = Geps3.CNS.pageCode2Img(""112年...",112/03/03,NaN,112/03/07,NaN,NaN,檢視
8,9,招標公告,桃園市平鎮區公所,"1120109001 var hw = Geps3.CNS.pageCode2Img(""1...",112/03/03,NaN,112/03/09,NaN,NaN,檢視
9,10,招標公告,臺北大眾捷運股份有限公司,"C12B00276 var hw = Geps3.CNS.pageCode2Img(""錢幣...",112/03/03,NaN,112/03/16,NaN,NaN,檢視

In [ ]:
dfs[4]['標案案號標案名稱'][0]

'11211  var hw = Geps3.CNS.pageCode2Img("容積代金基金採購私有公共設施保留地線上投標系統案");$("#1").html(hw);'

## 讀取csv 轉存excel格式
讀取政府資料開放平台實價登錄資料
e.g.:

https://data.kcg.gov.tw/dataset/d7bfc353-1617-42d8-a0e3-3cd2d99edb10/resource/20387f3d-6970-40a4-86f0-a5c33546e75d/download/111q2.csv

In [101]:
url = "https://data.kcg.gov.tw/dataset/d7bfc353-1617-42d8-a0e3-3cd2d99edb10/resource/20387f3d-6970-40a4-86f0-a5c33546e75d/download/111q2.csv"

In [ ]:
df = pd.read_csv(url)

### 將dataframe轉成不同格式

In [ ]:
df.to_excel("實價登錄.xlsx")

In [ ]:
df.head(100).to_html("前100筆.html")

In [ ]:
df.head(100).to_json("前100筆.json")

# 檔案IO

## 文字檔

一般作法
```python
f = open('text.txt', 'w')
f.write(data)
f.close()
```

替代做法
```python
with open('text.txt', 'w') as f:
  f.write(data)
```

In [ ]:
url ="https://victorgau.github.io/khpy_web_intro/html_only.html"

In [ ]:
r = requests.get(url)

In [ ]:
with open('test.html', 'w') as f:
  f.write(r.text)

## 二進位檔

一般作法
```python
f = open('test.jpg', 'wb')
f.write(data)
f.close()
```

替代做法
```python
with open('test.jpg', 'wb') as f:
  f.write(data)
```

In [98]:
url = "https://victorgau.github.io/khpy_web_intro/ninja.jpg"

In [99]:
r= requests.get(url)

In [100]:
with open('test.jpg', 'wb') as f:
  f.write(r.content)

## 練習Pandas使用

In [102]:
import numpy as np

In [104]:
import pandas as pd

In [105]:
grade = np.random.randint(30, 101, (10, 4))

In [106]:
grade

array([[77, 75, 70, 49],
       [50, 96, 73, 85],
       [37, 40, 66, 56],
       [86, 43, 43, 57],
       [60, 46, 76, 78],
       [70, 48, 37, 39],
       [68, 44, 53, 90],
       [69, 61, 85, 73],
       [43, 86, 34, 64],
       [95, 89, 43, 40]])

In [107]:
df = pd.DataFrame(grade)

In [108]:
df

    0   1   2   3
0  77  75  70  49
1  50  96  73  85
2  37  40  66  56
3  86  43  43  57
4  60  46  76  78
5  70  48  37  39
6  68  44  53  90
7  69  61  85  73
8  43  86  34  64
9  95  89  43  40

In [109]:
df.columns = ['國文', '英文', '數學', '理化']

In [110]:
df

   國文  英文  數學  理化
0  77  75  70  49
1  50  96  73  85
2  37  40  66  56
3  86  43  43  57
4  60  46  76  78
5  70  48  37  39
6  68  44  53  90
7  69  61  85  73
8  43  86  34  64
9  95  89  43  40

In [111]:
df.index = ["郭雅惠","陳欣虹","王孟修","李政勇",
            "陳仲燦","王寧東","楊雅名","藍冰啟","林玉亨","崔承睿"]

In [112]:
df

     國文  英文  數學  理化
郭雅惠  77  75  70  49
陳欣虹  50  96  73  85
王孟修  37  40  66  56
李政勇  86  43  43  57
陳仲燦  60  46  76  78
王寧東  70  48  37  39
楊雅名  68  44  53  90
藍冰啟  69  61  85  73
林玉亨  43  86  34  64
崔承睿  95  89  43  40

## 列出國文不及格

In [113]:
df['國文'] < 60

郭雅惠    False
陳欣虹     True
王孟修     True
李政勇    False
陳仲燦    False
王寧東    False
楊雅名    False
藍冰啟    False
林玉亨     True
崔承睿    False
Name: 國文, dtype: bool

In [114]:
df[df['國文'] < 60]

     國文  英文  數學  理化
陳欣虹  50  96  73  85
王孟修  37  40  66  56
林玉亨  43  86  34  64

## 列出國文&英文都不及格

In [115]:
# and & , or |
df[(df['國文'] < 60) & (df['英文'] < 60) ]

     國文  英文  數學  理化
王孟修  37  40  66  56

In [116]:
df[(df['國文'] < 60) | (df['英文'] < 60) ]

     國文  英文  數學  理化
陳欣虹  50  96  73  85
王孟修  37  40  66  56
李政勇  86  43  43  57
陳仲燦  60  46  76  78
王寧東  70  48  37  39
楊雅名  68  44  53  90
林玉亨  43  86  34  64

## 計算總分&平均

In [117]:
df.sum()

國文    655
英文    628
數學    580
理化    631
dtype: int64

In [118]:
df.sum(axis=1)

郭雅惠    271
陳欣虹    304
王孟修    199
李政勇    229
陳仲燦    260
王寧東    194
楊雅名    255
藍冰啟    288
林玉亨    227
崔承睿    267
dtype: int64

In [119]:
df['總分'] = df.sum(axis=1)

In [120]:
df

     國文  英文  數學  理化   總分
郭雅惠  77  75  70  49  271
陳欣虹  50  96  73  85  304
王孟修  37  40  66  56  199
李政勇  86  43  43  57  229
陳仲燦  60  46  76  78  260
王寧東  70  48  37  39  194
楊雅名  68  44  53  90  255
藍冰啟  69  61  85  73  288
林玉亨  43  86  34  64  227
崔承睿  95  89  43  40  267

In [121]:
df[['國文','英文','數學','理化']].mean(axis=1)

郭雅惠    67.75
陳欣虹    76.00
王孟修    49.75
李政勇    57.25
陳仲燦    65.00
王寧東    48.50
楊雅名    63.75
藍冰啟    72.00
林玉亨    56.75
崔承睿    66.75
dtype: float64

In [122]:
df['平均'] = df[['國文','英文','數學','理化']].mean(axis=1)

In [123]:
df.to_excel('成績.xlsx')

In [124]:
df.rank()

       國文    英文    數學    理化    總分    平均
郭雅惠   8.0   7.0   7.0   3.0   8.0   8.0
陳欣虹   3.0  10.0   8.0   9.0  10.0  10.0
王孟修   1.0   1.0   6.0   4.0   2.0   2.0
李政勇   9.0   2.0   3.5   5.0   4.0   4.0
陳仲燦   4.0   4.0   9.0   8.0   6.0   6.0
王寧東   7.0   5.0   2.0   1.0   1.0   1.0
楊雅名   5.0   3.0   5.0  10.0   5.0   5.0
藍冰啟   6.0   6.0  10.0   7.0   9.0   9.0
林玉亨   2.0   8.0   1.0   6.0   3.0   3.0
崔承睿  10.0   9.0   3.5   2.0   7.0   7.0

In [125]:
df['總分'].rank(ascending=False)

郭雅惠     3.0
陳欣虹     1.0
王孟修     9.0
李政勇     7.0
陳仲燦     5.0
王寧東    10.0
楊雅名     6.0
藍冰啟     2.0
林玉亨     8.0
崔承睿     4.0
Name: 總分, dtype: float64