<a href="https://colab.research.google.com/github/mccoy0928/20230205_python_byVictorGau/blob/main/20230304_McCoy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2023-03-04 上課筆記

## [爬蟲簡介](https://github.com/victorgau/khpy_web_crawler_intro)

## [爬蟲特訓](https://github.com/victorgau/python_crawler)

In [4]:
import requests

In [31]:
url = "https://victorgau.github.io/khpy_web_intro/html_only.html"

In [32]:
r = requests.get(url)

In [33]:
r.request.headers

{'User-Agent': 'python-requests/2.25.1', 'Accept-Encoding': 'gzip, deflate', 'Accept': '*/*', 'Connection': 'keep-alive'}

In [34]:
r.headers

{'Connection': 'keep-alive', 'Content-Length': '143', 'Server': 'GitHub.com', 'Content-Type': 'text/html; charset=utf-8', 'permissions-policy': 'interest-cohort=()', 'Last-Modified': 'Sat, 09 Oct 2021 21:20:24 GMT', 'Access-Control-Allow-Origin': '*', 'ETag': '"61620798-8f"', 'expires': 'Sat, 04 Mar 2023 02:02:29 GMT', 'Cache-Control': 'max-age=600', 'x-proxy-cache': 'MISS', 'X-GitHub-Request-Id': '0C82:182F:18D353:20D6CA:6402A45D', 'Accept-Ranges': 'bytes', 'Date': 'Sat, 04 Mar 2023 02:23:27 GMT', 'Via': '1.1 varnish', 'Age': '0', 'X-Served-By': 'cache-fty21328-FTY', 'X-Cache': 'HIT', 'X-Cache-Hits': '1', 'X-Timer': 'S1677896607.086525,VS0,VE20', 'Vary': 'Accept-Encoding', 'X-Fastly-Request-ID': '0470ff39d542ef9133ccfd268cc9145be7436193'}

In [13]:
print(r.text)

<!DOCTYPE html>
<html>
<head>
    <title>HTML範例</title>
</head>
<body>

<h1>哈囉！HTML！</h1>

<img src="ninja.jpg" />

</body>
</html>

## 抓取Ajax網頁資料

In [14]:
import pandas as pd

### 從非ajax網站抓取可以直接看到資料

In [15]:
url = "https://victorgau.github.io/khpy_web_intro/spy.html"

In [16]:
r = requests.get(url)

In [ ]:
print(r.text)

In [22]:
df = pd.read_html(url)

In [23]:
df[0]

,Unnamed: 0_level_0,Open,High,Low,Close,Adj Close,Volume
,Date,Unnamed: 1_level_1,Unnamed: 2_level_1,Unnamed: 3_level_1,Unnamed: 4_level_1,Unnamed: 5_level_1,Unnamed: 6_level_1
0,2021-07-26,439.309998,441.029999,439.260010,441.019989,441.019989,43719200
1,2021-07-27,439.910004,439.940002,435.989990,439.010010,439.010010,67397100
2,2021-07-28,439.679993,440.299988,437.309998,438.829987,438.829987,52472400
3,2021-07-29,439.820007,441.799988,439.809998,440.649994,440.649994,47435300
4,2021-07-30,437.910004,440.059998,437.769989,438.510010,438.510010,68890600
5,2021-08-02,440.339996,440.929993,437.209991,437.589996,437.589996,58783300
6,2021-08-03,438.440002,441.279999,436.100006,441.149994,441.149994,58053900
7,2021-08-04,439.779999,441.119995,438.730011,438.980011,438.980011,46732200
8,2021-08-05,440.220001,441.850006,439.880005,441.760010,441.760010,38969700
9,2021-08-06,442.100006,442.940002,441.799988,442.489990,442.489990,46864100

### 從ajax網站抓取看不到資料

In [24]:
url1 = "https://victorgau.github.io/khpy_web_intro/spy_ajax.html"  # ajax網頁

In [44]:
url2 = "https://victorgau.github.io/khpy_web_intro/spy.json"  # https://victorgau.github.io/khpy_web_intro/spy.json?_=1677897372538 << ?問號後數字代碼可減去

In [39]:
r1 = requests.get(url2)

In [ ]:
print(r1.text)

In [25]:
df1 = pd.read_html(url1)

In [47]:
data2 = requests.get(url2).json()

In [48]:
data2

[{'Date': '2021-07-26',
  'Open': 439.309998,
  'High': 441.029999,
  'Low': 439.26001,
  'Close': 441.019989,
  'Adj Close': 441.019989,
  'Volume': 43719200},
 {'Date': '2021-07-27',
  'Open': 439.910004,
  'High': 439.940002,
  'Low': 435.98999,
  'Close': 439.01001,
  'Adj Close': 439.01001,
  'Volume': 67397100},
 {'Date': '2021-07-28',
  'Open': 439.679993,
  'High': 440.299988,
  'Low': 437.309998,
  'Close': 438.829987,
  'Adj Close': 438.829987,
  'Volume': 52472400},
 {'Date': '2021-07-29',
  'Open': 439.820007,
  'High': 441.799988,
  'Low': 439.809998,
  'Close': 440.649994,
  'Adj Close': 440.649994,
  'Volume': 47435300},
 {'Date': '2021-07-30',
  'Open': 437.910004,
  'High': 440.059998,
  'Low': 437.769989,
  'Close': 438.51001,
  'Adj Close': 438.51001,
  'Volume': 68890600},
 {'Date': '2021-08-02',
  'Open': 440.339996,
  'High': 440.929993,
  'Low': 437.209991,
  'Close': 437.589996,
  'Adj Close': 437.589996,
  'Volume': 58783300},
 {'Date': '2021-08-03',
  'Open': 438.440002,
  'High': 441.279999,
  'Low': 436.100006,
  'Close': 441.149994,
  'Adj Close': 441.149994,
  'Volume': 58053900},
 {'Date': '2021-08-04',
  'Open': 439.779999,
  'High': 441.119995,
  'Low': 438.730011,
  'Close': 438.980011,
  'Adj Close': 438.980011,
  'Volume': 46732200},
 {'Date': '2021-08-05',
  'Open': 440.220001,
  'High': 441.850006,
  'Low': 439.880005,
  'Close': 441.76001,
  'Adj Close': 441.76001,
  'Volume': 38969700},
 {'Date': '2021-08-06',
  'Open': 442.100006,
  'High': 442.940002,
  'Low': 441.799988,
  'Close': 442.48999,
  'Adj Close': 442.48999,
  'Volume': 46864100}]

In [45]:
df2 = pd.read_json(url2)

In [46]:
df2

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-07-26,439.309998,441.029999,439.260010,441.019989,441.019989,43719200
1,2021-07-27,439.910004,439.940002,435.989990,439.010010,439.010010,67397100
2,2021-07-28,439.679993,440.299988,437.309998,438.829987,438.829987,52472400
3,2021-07-29,439.820007,441.799988,439.809998,440.649994,440.649994,47435300
4,2021-07-30,437.910004,440.059998,437.769989,438.510010,438.510010,68890600
5,2021-08-02,440.339996,440.929993,437.209991,437.589996,437.589996,58783300
6,2021-08-03,438.440002,441.279999,436.100006,441.149994,441.149994,58053900
7,2021-08-04,439.779999,441.119995,438.730011,438.980011,438.980011,46732200
8,2021-08-05,440.220001,441.850006,439.880005,441.760010,441.760010,38969700
9,2021-08-06,442.100006,442.940002,441.799988,442.489990,442.489990,46864100

In [29]:
len(df1)

1

In [28]:
df1

[Empty DataFrame
 Columns: [(Unnamed: 0_level_0, Date), (Open, Unnamed: 1_level_1), (High, Unnamed: 2_level_1), (Low, Unnamed: 3_level_1), (Close, Unnamed: 4_level_1), (Adj Close, Unnamed: 5_level_1), (Volume, Unnamed: 6_level_1)]
 Index: []]

## 關於Pandas的read_html()

In [35]:
url = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"

In [36]:
dfs = pd.read_html(url)

In [37]:
dfs[0]

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
499,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
500,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
501,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952